<h1>Page City </h1>
<p>Bienvenue sur le profil de la ville de : <%= City.find(params[:id]).city %> !! <br> Check ses gossips :</p>

<p>
<% Gossip.all.each_with_index do |gossip,index| %> 
</p>

<p>Voilà, <a href="/home/">bisou</a> !</p>